.recreation {
  text-align: center;
  position: relative;
}

.recreationContainer {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  transform: translateX(-10%);
  justify-content: center;
}

.recreation h2 {
  margin-bottom: 150px;
}

.recreationItem {
  width: 200px;
  height: 200px;
  border: 1px solid $black;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  margin-right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.recreationItem:last-child {
  margin-right: 0;
}

.recreationItem:hover {
  background: $black;
}

.recreationItem:hover .recIcon {
  color: $grey;
}


.recIcon{
  color: $black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.6s;
}
