.skills {
    background: $black;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills h2 {
    margin-bottom: 150px;
    text-align: center;
}

.skills i {
    color: $grey;
}

.skillsCarousel {
    height: 150px;
    width: 100%;
    margin: 0 auto;
}

.carousel-cell {
    width: 150px;
    margin-right: 50px;
}

.carousel-cell i {
    font-size: 8rem;
}

.carousel-cell i,
.carousel-cell img {
    transition: all 0.5s;
}

.carousel-cell i:hover,
.carousel-cell img:hover {
    opacity: 0.5;
}